 	 	body {
 		margin: 0;
 	}
 	div {
 		background-image: url(https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&docid=Nj6QA8wUE_d43M&tbnid=PRb6dK8BdmYfBM:&ved=0CAUQjRw&url=http%3A%2F%2Fcasadabruxajadefenix.blogspot.com%2F2013%2F08%2Feu-sou-por-dracon-bardhyl.html&ei=paU8U_ORHYLf0gG8ooGQAg&bvm=bv.63934634,d.dmQ&psig=AFQjCNEGOVC9JyKItVWw7pzgeHL9gMcLpg&ust=1396569868373734);
 		background-repeat: no-repeat;
 		background-size: cover;
 		background-color: red;
 		text-align:center;
 		padding: 20px 0px;
 	}
