 	 	body {
 		margin: 0;
 	}
 	div {
 		background-image: url(../images/background.jpg);
 		background-repeat: no-repeat;
 		background-size: cover;
 		background-color: red;
 		text-align:center;
 		padding: 20px 0px;
 	}
