 	 	body {
 		margin: 0;
 	}
 	div {
 		background-image: url(https://www.google.com.br/search?q=fenix&rlz=1C1SAVM_enBR542BR543&espv=210&es_sm=122&tbm=isch&imgil=D2sMTLETorMRhM%253A%253Bhttps%253A%252F%252Fencrypted-tbn0.gstatic.com%252Fimages%253Fq%253Dtbn%253AANd9GcQS7oy6Rp_h-lZ4RHC1sgxV1V4rurMbpgu2YyLrT1Gqw5AD8hL6dQ%253B1600%253B1000%253BABKZ0fEofewUBM%253Bhttp%25253A%25252F%25252Fwww.culturamix.com%25252Fcultura%25252Fmito-da-fenix-personagem-da-mitologia-grega&source=iu&usg=__NnAaS50VwYBWf0KlmzJ0W9_caak%3D&sa=X&ei=h6U8U83lFMaH0AGs74C4Dw&ved=0CDkQ9QEwBA#facrc=_&imgdii=_&imgrc=PRb6dK8BdmYfBM%253A%3BNj6QA8wUE_d43M%3Bhttp%253A%252F%252F4.bp.blogspot.com%252F-AZF0unwwZMk%252FUhlufiyp13I%252FAAAAAAAAP0g%252FVdnEH6uDbWk%252Fs1600%252FF%2525C3%2525AAnix.jpg%3Bhttp%253A%252F%252Fcasadabruxajadefenix.blogspot.com%252F2013%252F08%252Feu-sou-por-dracon-bardhyl.html%3B960%3B724);
 		background-repeat: no-repeat;
 		background-size: cover;
 		background-color: red;
 		text-align:center;
 		padding: 20px 0px;
 	}
